/* ----------------------------------------start */

body {
    background-attachment: fixed;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.5;
  }
  
  p {
    margin: auto;
    text-align: center;
    width: 88%;
  }

  /*-----------------------------------------navbar*/

  .navbar {
    background: #31ffc8;
    min-height: 1.9rem;
    
    font-size: 1.3rem;
    font-weight: 500;
  }

  .navbar ul li a{
    color: #f5793b;
  }






  
/*-----------------------------------------image_sizing*/



  #avril-lavigne-love-sux {
    width: 350px;
    height: 551px;
  }

  #hombre-1998 {
    width: 350px;
    height: 352px;
  }

  #new-boots-and-panties {
    width: 350px;
    height: 351px;
  }
  
  #oa-logo {
    width: 250px;
    height: 85px;
  }

  #payback-stall-1-sized {
    width: 350px;
    height: 135px;
  }

  #plastic-wax-cassettes-sized {
    width: 350px;
    height: 241px;
  }

  #prime-cuts-poster {
    width: 350px;
    height: 599px;
  }

  #rockshop-coloured {
    width: 350px;
    height: 350px;
  }

  #rockshop-singles {
    width: 350px;
    height: 211px;
  }

  #st-nicholas-market {
    width: 350px;
    height: 219px;
  }

  #the-idles-crawler {
    width: 350px;
    height: 559px;
  }

  #wanted-records-group {
    width: 350px;
    height: 179px;
  }

  #wanted-records-2 {
    width: 350px;
    height: 179px;
  }

/* ----------------------------------------blog */

  .blog {
    padding: 20px 10px 20px 10px;
    position: static;
    text-align: center;
  }


  .figure-caption {
    color: black;
    font-size: 1rem;
    margin: auto;
  }

/*-----------------------------------------flexbox*/
  
  .flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }
    
  .flex-container > div {
      margin: 0.4rem;
      padding: 1.2rem;
    }

  /*-----------------------------------------jotform*/

  #JotFormIFrame-231864072231349 {
      min-width:100%;
      max-width:100%;
      height:539px;
      border:none;
     }

  /*-----------------------------------------media_queries*/

  @media only screen and (min-width: 601px) {
    .container, .figure {
      width: 56%;
    }
  }

  @media only screen and (min-width: 601px) {
    p {
      width: 58%;
    }
  }

  


