/* ----------------------------------------start */

body {
  background-attachment: fixed;
  background-image: url("https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/oa-background-image-23july_orig.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #010b13;
  font-size: 1.0rem;
  font-weight: 400;
  line-height: 1.5;
}

p {
  margin: auto;
  text-align: center;
  width: 88%;
}

/*-----------------------------------------navbar*/

li a:hover {
  background-color: #92bfbe;
}

.navbar {
  background: #234F4E;
  min-height: 60px;
}

nav li {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 40px;
  margin-left: 7px;
}

.navbar ul li a{
  color: #3EFFFF;
  margin: auto;
  text-align: center;
}

.navbar-nav > li > .dropdown-menu { 
  background-color: #234F4E; 
}

/*-----------------------------------------login and register*/

.btn-dark {
  color: #234F4E;
  background-color: #3EFFFF;
}

.btn-dark:hover {
  color: #3EFFFF;
  background-color: #234F4E;
}

.btn-success {
  color: #234F4E;
  background-color: #3EFFFF;
}

.btn-success:hover {
  color: #3EFFFF;
  background-color: #234F4E;
} 

.form-group {
  margin-bottom: 15px;
}

.form-control {
  height: auto;
  padding: 8px 12px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  color: #fefefa;
  width: 10%;
}

input, input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.input-group {
  box-shadow: 0px 2px 5px 0px #010b13; 
}

label {
  margin-bottom: 15px;
}

.login-box {
  background: #f1be53;
  box-shadow: 2px 4px 4px 2px #010b13;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login-body {
  line-height: 2;
  padding: 20px;
}

.login-button {
  margin-top: 5px;
}

.login-entries {
  box-shadow: 0px 2px 5px 0px #010b13;  
}

.login-register {
  font-size: 11px;
  text-align: center;
}

.msg {
  background-color: #fefefa;
  border: 1px solid transparent;
  border-color: #234F4E;
  border-radius: .25rem;
  margin-bottom: 1rem;
  padding: .75rem 1.25rem;
}

.main {
  margin-top: 5%;
}

.main-login {
  background-color: #fefefa;
  border-radius: 2px;
  box-shadow: 0px 3px 5px 0px #010b13;
}

.main-center {
  background-color: #f1be53;
  box-shadow: 2px 4px 4px 2px #010b13;
  color: #010b13;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 400px;
  padding: 10px 40px;
}

/*-----------------------------------------headings*/ 

#aswad {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#avril {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#cassettes {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

 #contact-oa  {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#contents {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

 #continuity {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

 #debate {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#dr-dre {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#hombre {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#ian-dury {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#img-cassettes {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#intro {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
  padding-top: 2.0rem;
}

#list-records {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

 #lots-singles {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#pricings {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#record-selection {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 3.0rem;
  text-align: center;
  text-decoration: underline;
}

 #record-stall {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#St-Nicks {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#st-nicks-info { 
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

#the-idles {   
  color: #234F4E;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

/*-----------------------------------------image_sizing*/

#aswad-a-new-chapter-of-dub {
    width: 350px;
    height: 369px;
}

#avril-lavigne-love-sux {
  width: 350px;
  height: 554px;
}

#dr-dre-the-chronic {
    width: 350px;
    height: 546px;
}

#hombre-1998 {
  width: 350px;
  height: 352px;
}

#logo-sized-28july {
  width: 176px;
  height: 60px;
}

#new-boots-and-panties {
  width: 350px;
  height: 349px;
}

#payback-stall-1-sized {
  width: 350px;
  height: 178px;
}

#pw-cassettes {
  width: 350px;
  height: 241px;
}

#prime-cuts-poster {
  width: 350px;
  height: 599px;
}

#rockshop-coloured {
  width: 350px;
  height: 350px;
}

#rockshop-singles {
  width: 350px;
  height: 211px;
}

#st-nicholas-market {
  width: 350px;
  height: 219px;
}

#the-idles-crawler {
  width: 350px;
  height: 559px;
}

#wanted-records-group {
  width: 350px;
  height: 179px;
}

#wanted-records-2 {
  width: 350px;
  height: 179px;
}

/* ----------------------------------------blog */

.blog {
  padding: 10px 10px 10px 10px;
  position: static;
  text-align: center;
}


.figure-caption {
  color: black;
  font-size: 1rem;
  margin: auto;
}

/*-----------------------------------------flexbox*/

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
.flex-container > div {
    margin: 0.4rem;
    padding: 1.2rem;
  }

/*-----------------------------------------jotform*/

#JotFormIFrame-231864072231349 {
    min-width:100%;
    max-width:100%;
    height:539px;
    border:none;
   }

/*------------------------------------------footer*/

footer {
  height: 3.0rem;
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 1.0rem;
  margin: 1.25rem;
}

#websitecredit {
  color: #010b13;
  font-size: 1.0rem;
  padding-bottom: 1.0rem;
  text-align: center;
}

/*-----------------------------------------media_queries*/

@media only screen and (min-width: 601px) {
  .container, .figure, .form-control, .login-box {
    width: 56%;
  }
}

@media only screen and (min-width: 601px) {
  p {
    width: 58%;
  }
}

/*------------------------------------------end*/
