{% extends "base.html" %}
{% block content %}

  <main>
    <br>
    <section>
      <h1 id="hombre">Hombre</h1>
      <div class="blog">
        <figure class="figure">
            <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/hombre-1998-sized_orig.jpg" class="figure-img img-fluid rounded" id="hombre-1998"
             title="hombre-1998" alt="hombre-1998">
            <div class="line-padding"></div>
                <figcaption class="figure-caption text-center">
                    Back in 1998, young Bristolian dj/producer Jamie Eastman started a record label called 'Hombre'
                    which featured local musicians producing electronic music. One of many indie labels - so
                    what? Notice the artwork! Done by a little-known graphic designer before he became
                    the legend that is Banksy... All Hombre records' artwork was done by Banksy! Friends 
                    Steve and Jay perform on the featured 12" and just for fun I added a Hombre business 
                    card to the image. Not for sale.
                </figcaption>
        </figure>
      </div>
    </section>
    <!-- next -->
    <section>
      <h2 id="avril">Avril Lavigne</h2>
      <div class="blog">
        <figure class="figure">
            <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/avril-lavigne-love-sux_orig.jpg" class="figure-img img-fluid rounded" id="avril-lavigne-love-sux"
            title="avril-lavigne-love-sux" alt="avril-lavigne-love-sux">
            <div class="line-padding"></div>
                <figcaption class="figure-caption text-center">
                    Canadian superstar Avril Lavigne released the album 'Love Sux' in 2022 to positive reviews. It was
                    described by NME as "an unapologetic blast of self-empowerment" with the Guardian commenting that it contained
                    "high-energy bangers one after the other". Notice though that Love Sux is one of many cassettes
                    released by major artistes and indeed came 11th in the UK Official Top 40 best-selling cassettes of 2022.
                    Among those artistes are the Arctic Monkeys, Robbie Williams and Taylor Swift.
                </figcaption>
        </figure>
      </div>
    </section>
    <!-- next -->
    <section>
      <h3 id="ian-dury">Ian Dury and the Blockheads</h3>
      <div class="blog">
        <figure class="figure">
            <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/new-boots-and-panties-sized_orig.jpg" class="figure-img img-fluid rounded" id="new-boots-and-panties"
             title="new-boots-and-panties" alt="new-boots-and-panties">
            <div class="line-padding"></div>
                <figcaption class="figure-caption text-center">
                    "New Boots and Panties!!" by Ian Dury and the Blockheads was released in September 1977 and went
                    onto become a platinum-selling album. It was released on Stiff Records who had a policy of releasing early
                    singles on coloured vinyls, which were fashionable at that time. Stiff bands included Elvis Costello, 
                    The Pogues, The Damned and Nick Lowe. Needless to say, gold-coloured LPs of New Boots are sought after today! 
                    Not for sale.
                </figcaption>
        </figure>
      </div>
    </section>
    <!-- next -->
    <section>
      <h4 id="the-idles">The Idles</h4>
      <div class="blog">
        <figure class="figure">
            <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/the-idles-crawler-sized_orig.jpg" class="figure-img img-fluid rounded" id="the-idles-crawler" title="the-idles-crawler"
              alt="the-idles-crawler">
            <div class="line-padding"></div>
                <figcaption class="figure-caption text-center">
                    Local Bristol band the Idles released Crawler in November 2021 and received favourable reviews
                    and was nominated for 'Best Rock Album' at the Grammys, coming sixth in the UK album charts. 
                    It was also released on a limited edition, translucent orange cassette. It is one of many released in 2021 
                    and shows a concern by big and small bands to reach out to their fans in as many formats as possible. 
                </figcaption>
        </figure>
      </div>
    </section>
    <!-- next -->
    <section>
      <h5 id="aswad">Aswad</h5>
      <div class="blog">
        <figure class="figure">
            <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/aswad-a-new-chapter-of-dub_orig.jpg" class="figure-img img-fluid rounded" id="aswad-a-new-chapter-of-dub" 
             title="aswad-a-new-chapter-of-dub" alt="aswad-a-new-chapter-of-dub">
            <div class="line-padding"></div>
                <figcaption class="figure-caption text-center">
                    Aswad are a top English reggae band from Ladbroke Grove in West London from the seventies until the
                    present time. They are particularly known for their live shows with full brass section that are
                    a revelation. Various singles and rarer albums are now worth good money with "A New Chapter of Dub" 
                    worth at least £40-50 with the Babylon 7inch available for £50 from Only Analog.
                </figcaption>
        </figure>
      </div>
    </section>
    <!-- next -->
    <section>
      <h6 id="dr-dre">Dr. Dre</h6>
      <div class="blog">
        <figure class="figure">
            <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/dr-dre-the-chronic_orig.jpg" class="figure-img img-fluid rounded" id="dr-dre-the-chronic" 
            title="dr-dre-the-chronic" alt="dr-dre-the-chronic">
            <div class="line-padding"></div>
                <figcaption class="figure-caption text-center">
                    Who says cassettes aren't worth top dollar? The American rapper and producer Dr. Dre, formally of N.W.A., 
                    released his first solo album called "The Chronic". This album sold 5.7 million copies in the USA and had top reviews. 
                    With a release selling that many copies, it is not rare. However, online right now is an unopened sealed cassette
                    from 1992 on sale for $3,498.98. Yes more than 3 grand!
                </figcaption>
        </figure>
      </div>
    </section>
    <!-- footer -->
    <br>
    <footer>
        <div class="social-networks">
          <ul>
            <li>
              <a href="https://www.facebook.com" title="Facebook" target="_blank" rel="noopener">
                <i class="fab fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com" title="Twitter" target="_blank" rel="noopener">
                <i class="fab fa-twitter-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com" title="Instagram" target="_blank" rel="noopener">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- website credit -->
        <div id="websitecredit" aria-hidden="true">
          <p>This website was designed and built by Richard Nowell 2023. </p>
        </div>
        <br>
      <div>
    </footer>
    <!-- end of footer -->
  </main>
{% endblock %}
