{% extends "base.html" %}
{% block content %}

<main>
    <div class="blog">
        <figure class="figure">
            <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/hombre-1998-sized_orig.jpg" class="figure-img img-fluid rounded" id="hombre-1998"
             title="hombre-1998" alt="hombre-1998">
            <div class="line-padding"></div>
            <figcaption class="figure-caption text-center">
             Banksynnnnn  we see articles in the Guardian from December 2022 
           </figcaption>
        </figure>
    </div>
</main>
{% endblock %}