{% extends "base.html" %}
{% block content %}
<a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/hombre-1998-sized_orig.jpg">
    <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/hombre-1998-sized_orig.jpg" id="hombre-1998" title="hombre-1998"
     alt="hombre-1998">
</a>
<br>
<a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/avril-lavigne-love-sux_orig.jpg">
    <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/avril-lavigne-love-sux_orig.jpg" id="avril-lavigne-love-sux"
     title="avril-lavigne-love-sux" alt="avril-lavigne-love-sux">
</a>
<br>
<a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/new-boots-and-panties-sized_orig.jpg">
    <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/new-boots-and-panties-sized_orig.jpg" id="new-boots-and-panties"
     title="new-boots-and-panties" alt="new-boots-and-panties">
</a>
<br>
<a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/the-idles-crawler-sized_orig.jpg">
    <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/the-idles-crawler-sized_orig.jpg" id="the-idles-crawler" title="the-idles-crawler"
     alt="the-idles-crawler">
</a>
<br>
{% endblock %}