{% extends "base.html" %}
    {% block content %}
        <!-- start of cassettes page -->
        <main>
            <section>
                <!-- cassettes images -->
                <br>
                <h1 id="img-cassettes">Some cassettes!</h1>
                <br>
                <div class="flex-container">
                  <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/plastic-wax-cassettes-sized_orig.jpg">
                    <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/plastic-wax-cassettes-sized_orig.jpg" id="pw-cassettes" title="pw-cassettes"
                     alt="pw-cassettes">
                  </a>
                </div>
            </section>
            <br>
            <section>
              <!-- start of cassettes table -->
              <h2 id="cassettes">CASSETTES</h2>
              <div class="table-responsive">
                <table class="table table-hover table-bordered caption-top">
                  <thead>
                    <tr>
                       <th scope="col">#</th>
                       <th scope="col">Artist</th>
                       <th scope="col">Title</th>
                       <th scope="col">Price(£)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>A Tribe Called Quest</td>
                      <td>Midnight Marauders</td>
                      <td>80</td>
                    </tr> 
                    <tr>
                      <th scope="row">2</th>
                      <td>Cash Money and Marvelous</td>
                      <td>Where's The Party At?</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Dr. Dre</td>
                      <td>The Chronic</td>
                      <td>45</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Elvis Costello</td>
                      <td>Get Happy</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>Gregory Isaacs</td>
                      <td>Live</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td>Motorhead</td>
                      <td>Whats Words Worth</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td>Pearl Jam</td>
                      <td>No Code</td>
                      <td>25</td>
                    </tr>
                    <tr>
                      <th scope="row">8</th>
                      <td>Pulp</td>
                      <td>Babies</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <th scope="row">9</th>
                      <td>The Verve</td>
                      <td>Urban Hymns</td>
                      <td>15</td>
                    </tr>
                    <tr>
                      <th scope="row">10</th>
                      <td>The Who</td>
                      <td>Live At Leeds</td>
                      <td>10</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <br>
            <!-- start of pricings section -->
            <section>
              <div>
                  <h3 id="pricings">Pricings</h3>
                  <p>
                  Many of our records and cassettes are reasonably priced and kept up-to-date
                  with bigger enterprises available online. OA do keep rarer products for sale,
                  which are available to reserve using our free members database. Some are
                  expensive but reflect the current market; records are collectables but also still
                  used by professionals. OA would like to sell more up-to-date cassettes, but
                  the amount is limited by the fact that very few people have cassette players!
                  </p>
              </div>
            </section>
            <br>
        </main>
        <!-- end of cassettes page -->
    {% endblock %}