{% extends "base.html" %}
{% block content %}
      <section>
        <br>
          <p id="jotform_text"><i class="fa-solid fa-door-open" aria-hidden="true"></i>&nbsp; Please feel free to contact Only Analog. Suggestions welcome!
          </p>
        <div>
          <iframe id="JotFormIFrame-231864072231349" title="FotForm" onload="window.parent.scrollTo(0,0)" allow="fullscreen" src="https://form.jotform.com/231864072231349"></iframe>
        </div>
      </section>
      <!-- jotform script before endblock -->
      <script src="static/js/jotform.js"></script>
{% endblock %}
