{% extends "base.html" %}
{% block content %}
  <main>
      <br>
      <section>
        <h1 id="contact-oa">Contact Only Analog</h1>
        <br>
          <p id="jotform_text"><i class="fa-solid fa-door-open" aria-hidden="true"></i>&nbsp; Please feel free to contact Only Analog. Suggestions welcome!
          </p>
        <br>
        <div>
          <iframe id="JotFormIFrame-231864072231349" title="FotForm" onload="window.parent.scrollTo(0,0)" allow="fullscreen" src="https://form.jotform.com/231864072231349"></iframe>
        </div>
      </section>
      <!-- jotform script before endblock -->
      <script src="static/js/jotform.js"></script>
      <!-- footer -->
      <footer>
        <div class="social-networks">
          <ul>
            <li>
              <a href="https://www.facebook.com" title="Facebook" target="_blank" rel="noopener">
                <i class="fab fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com" title="Twitter" target="_blank" rel="noopener">
                <i class="fab fa-twitter-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com" title="Instagram" target="_blank" rel="noopener">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- website credit -->
        <div id="websitecredit" aria-hidden="true">
          <p>This website was designed and built by Richard Nowell 2023. </p>
        </div>
        <br>
      <div>
    </footer>
    <!-- end of footer -->
  </main>
{% endblock %}
