{% extends "base.html" %}
    {% block content %}
        <!-- start of contact page -->
        <main>
            <br>
            <section>
                <h1 id="contact-oa">Contact Only Analog</h1>
                <br>
                <p id="jotform_text"><i class="fa-solid fa-door-open" aria-hidden="true"></i>&nbsp; Please feel free to contact 
                  Only Analog. Suggestions welcome!
                </p>
                <br>
                <!-- start of jotform -->
                <div>
                    <iframe id="JotFormIFrame-231864072231349" title="FotForm" onload="window.parent.scrollTo(0,0)" allow="fullscreen" src="https://form.jotform.com/231864072231349"></iframe>
                </div>
            </section>
            <!-- jotform script before endblock -->
            <script src="static/js/jotform.js"></script>
        </main>
        <!-- end of contact page -->
    {% endblock %}