{% extends "base.html" %}
{% block content %}
    <p>
     This is a test to see what colour might suit
     the webpage when using this opaque backgrounhd
     image of banksy designed artwork.
    </p>
    <div>
        <div class="flex-container">
            <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/wanted-records-1-sized_orig.jpg">
              <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/wanted-records-1-sized_orig.jpg" id="wanted-records-group" title="wanted-records-group"
               alt="wanted-records-group">
            </a>
            <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/wanted-records-2-sized_orig.jpg">
              <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/wanted-records-2-sized_orig.jpg" id="wanted-records-2" title="wanted-records-2"
               alt="wanted-records-2">
            </a>
        </div>
    </div>

    <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/saint-nicholas-market-bristol_orig.jpg">
        <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/saint-nicholas-market-bristol_orig.jpg" id="st-nicholas-market" title="st-nicholas-market"
            alt="st-nicholas-market">
    </a>
{% endblock %}