{% extends "base.html" %}
{% block content %}
    <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/only-analog-header_orig.jpg">
        <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/only-analog-header_orig.jpg" id="only-analog-wanted" title="only-analog-wanted"
            alt="only-analog-wanted">
    </a>
    <h1>Homepage</h1>
    <p>
     This is a test to see what colour might suit
     the webpage when using this opaque backgrounhd
     image of banksy designed artwork.
    </p>
    <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/wanted-records-1-sized_orig.jpg">
        <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/wanted-records-1-sized_orig.jpg" id="wanted-records-group" title="wanted-records-group"
        alt="wanted-records-group">
    </a>

    <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/payback-stall-1-sized_orig.jpg">
        <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/payback-stall-1-sized_orig.jpg" id="payback-records-stall" title="payback-records-stall"
           alt="payback-records-stall">
    </a>

    <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/st-nicholas-market-bristol_orig.jpeg">
        <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/st-nicholas-market-bristol_orig.jpeg" id="st-nicholas-market" title="st-nicholas-market"
            alt="st-nicholas-market">
    </a>
{% endblock %}