{% extends "base.html" %}
{% block content %}
    <br>
    <p>
    Only Analog (OA) is a secondhand records and cassettes stall in St. Nicholas Market, Bristol BS1.
    The title Only Analog comes from the policy of selling music that is an analog format rather than
    digital, such as cds. The logo 'Smooth not brittle' reflects how the music sounds - analog is
    smooth while digital is brittle. The idea for Only Analog came about when talking to djs
    and music lovers about how they preferred the smoothness, or continuity, of the sound.
    The website page 'Opinions' explores these ideas; the pros and cons of each format.
    </p>
    <br>
    <div>
        <div class="flex-container">
            <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/wanted-records-1-sized_orig.jpg">
              <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/wanted-records-1-sized_orig.jpg" id="wanted-records-group" title="wanted-records-group"
               alt="wanted-records-group">
            </a>
            <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/wanted-records-2-sized_orig.jpg">
              <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/wanted-records-2-sized_orig.jpg" id="wanted-records-2" title="wanted-records-2"
               alt="wanted-records-2">
            </a>
        </div>
    </div>
    <br>
   <p>
       Only Analog's website can be used by members who want to reserve items outlined in the listings. We do not yet have 
       the option of buying online, but as a member you can login and tick a box to reserve a record for 10 working days
       before it is re-listed. Items can be sent via the post (Royal Mail) and arrangements can be made by using
       the contact form. Items are only sent on receipt of monies - if you are local, it is best to come and visit us!
       Prices are regularly checked against a number of online websites to provide up-to-date valuations.
       Only Analog endeavours to keep up with its customers' wishes, but due to size limitations, only so
       much is possible... 
   </p>
    <div>
        <div class="flex-container">
            <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/saint-nicholas-market-bristol_orig.jpg">
              <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/saint-nicholas-market-bristol_orig.jpg" id="st-nicholas-market" title="st-nicholas-market"
               alt="st-nicholas-market">
            </a>
        </div>
    </div>
     <p>
         This website has a listings page where examples of records and cassettes that can be reserved are shown. The blog page has 
         interesting snippets, while the Opinions page delves deeper into the analog vs digital debate. Contact us using the supplied Jotform.
     </p>
{% endblock %}
