{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <p>Major releases:ABBA, Taylor Swift, The Idles, Ed Sheeran, Elton John,Billie Eilish, Coldplay, Britney Spears and many more.
    </p> 

    <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-coloured-records_orig.jpg">
        <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-coloured-records_orig.jpg" id="rockshop-coloured" title="rockshop-coloured" 
        alt="rockshop-coloured">
   </a>

<p>Example Records (50 alphabetical):</p>
<p>
    <ol>
        <li>Aswad - Babylon (7" £50)</li>
        <li>Black Sabbath - Sabbath Bloody Sabbath (£12)</li>
        <li>Blondie - Eat To The Beat (£8)</li>
        <li>Blur - Stereotypes (7" £15)</li>
        <li>Bob Marley - Songs of Freedom (£93)</li> 
        <li>Chemical Brothers - Setting Sun (12" £12)</li>
        <li>ColdCut - Stop This Crazy Thing (12" £6)</li>
        <li>Cradle of Filth - Cruelty and The Beast (£20)</li>
        <li>David Bowie - Hunky Dory (£29)</li>
        <li>Depeche Mode - People Are People (12" £17)</li>
        <li>Dua Lipa - Dua Lipa (£27)</li>
        <li>Ed Sheeran - Subtract (£27)</li>
        <li>Fleetwood Mac - Tango In The Night (£12)</li>
        <li>George Michael - Faith (£30)</li>
        <li>Guns N' Roses - The Legendary Ritz Broadcast (£18)</li>
        <li>Idles - Joy As An Act Of Resistance (£20)</li>
        <li>John Martyn - Solid Air (£24)</li>
        <li>Kate Bush - Live In Bristol (£95)</li>
        <li>Killing Joke - What's This For...! (£20)</li>
        <li>Kraftwerk - Showroom Dummies (£18)</li>
        <li>Lana Del Ray - Lust For Life (£36)</li>
        <li>Leadbelly - Leadbelly EP (£7)</li>
        <li>Led Zeppelin - Prescence (£15)</li>
        <li>Madonna - True Blue (£18)</li>
        <li>Manic Street Preachers - You Love Us (12" £20)</li>
        <li>Misty In Roots - Musi-O-Tunya (£38)</li>
        <li>Morrison, Van - It's Too Great To Stop Now (£38)</li>
        <li>New Order - Low Life (£23)</li>
        <li>Nick Cave And The Bad Seeds - Tender Prey (£18)</li>
        <li>Nirvana - Live at Pier 48 Seattle (£90)</li>
        <li>Paul Weller - True Meanings (£32)</li>
        <li>Pentangle - Solomon's Seal (£12)</li>
        <li>Pink Floyd - Piper At The Gates Of Dawn (£20)</li>
        <li>Prince - Dirty Mind (£18)</li>
        <li>Rolling Stones - Big Hits (£22)</li>
        <li>Siouxsie and The Banshees - Nocturne (£20)</li>
        <li>Skatalites - Skatalites Meet King Tubby (£28)</li>
        <li>Suede - Head Music (£20)</li>
        <li>Tears For Fears - Seeds of Love (£30)</li>
        <li>The Cure - Hot Hot Hot!!! (12" £5)</li>
        <li>The Damned - Grimly Fiendish (7" £12)</li>
        <li>The Fall - This Nation's Saving Grace (£25)</li>
        <li>The Human League - Being Boiled (£21)</li>
        <li>The Pogues - The Best Of (£18)</li>
        <li>The Prodigy - Firestarter (£15)</li>
        <li>The Smiths - The Smiths (£35)</li>
        <li>The Smiths - Meat Is Murder (£30)</li>
        <li>The Stone Roses - Stone Roses (£25)</li>
        <li>The Who - My Generation (£80)</li>
        <li>The Jesus and Mary Chain - You Trip Me Up (7" £7.50)</li>
    </ol>
</p>
<br>

<a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-singles-upload_orig.jpg">
    <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-singles-upload_orig.jpg" id="rockshop-singles" title="rockshop-singles" alt="rockshop-singles">
</a>

    <p>Example Cassettes (10 Alphabetical):</p>
<p>
<ol>
    <li>A Tribe Called Quest - Midnight Marauders (£80)</li>
    <li>Cash Money and Marvelous - Where's The Party At? (£20)</li>
    <li>Dr Dre - The Chronic (£45)</li>
    <li>Elvis Costello - Get Happy (£6)</li>
    <li>Gregory Isaacs - Live (£10)</li>
    <li>Motorhead - Whats Words Worth (£20)</li>
    <li>Pearl Jam - No Code (£25)</li>
    <li>Pulp - Babies (£6)</li>
    <li>The Verve - Urban Hymns (£15)</li>
    <li>The Who - Live At Leeds (£10)</li>
</ol>
</p>

{% endblock %}