{% extends "base.html" %}
{% block content %}
 
    <div>
        <div class="flex-container">
          <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-coloured-records_orig.jpg">
            <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-coloured-records_orig.jpg" id="rockshop-coloured" title="rockshop-coloured" 
             alt="rockshop-coloured">
          </a>
        </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-bordered caption-top">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Artist</th>
                <th scope="col">Title</th>
                <th scope="col">Price(£)</th>
              </tr>
            </thead>
        <tbody>

        </tbody>
      </table>
    </div>

{% endblock %}