{% extends "base.html" %}
{% block content %}
  <main>
    <section>
      <h1 id="record-selection">A selection of records</h1>
      <br>
      <div>
        <div class="flex-container">
          <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-coloured-records_orig.jpg">
            <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-coloured-records_orig.jpg" id="rockshop-coloured" title="rockshop-coloured" 
             alt="rockshop-coloured">
          </a>
        </div>
      </div>
    </section>
    <br>
    <section>
      <h2 id="list-records">RECORDS</h2>
      <div class="table-responsive">
        <table class="table table-hover table-bordered caption-top">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Artist</th>
                <th scope="col">Title</th>
                <th scope="col">Price(£) excl. VAT</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Aswad</td>
              <td>Babylon</td>
              <td>7inch 50</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Bob Marley</td>
              <td>Songs of Freedom</td>
              <td>93</td>
            </tr>      
            <tr>
              <th scope="row">3</th>
              <td>David Bowie</td>
              <td>Hunky Dory</td>
              <td>29</td>
            </tr>      
            <tr>
              <th scope="row">4</th>
              <td>Depeche Mode</td>
              <td>People Are People</td>
              <td>12inch 17</td>
            </tr>      
            <tr>
              <th scope="row">5</th>
              <td>Dua Lipa</td>
              <td>Dua Lipa</td>
              <td>27</td>
            </tr>      
            <tr>
              <th scope="row">6</th>
              <td>George Michael</td>
              <td>Faith</td>
              <td>30</td>
            </tr>      
            <tr>
              <th scope="row">7</th>
              <td>Idles</td>
              <td>Joy As An Act</td>
              <td>20</td>
            </tr>      
            <tr>
              <th scope="row">8</th>
              <td>John Martyn</td>
              <td>Solid Air</td>
              <td>20</td>
            </tr>      
            <tr>
              <th scope="row">9</th>
              <td>Kate Bush</td>
              <td>Live in Bristol</td>
              <td>95</td>
            </tr>      
            <tr>
              <th scope="row">10</th>
              <td>Kraftwerk</td>
              <td>Showroom Dummies</td>
              <td>18</td>
            </tr>      
            <tr>
              <th scope="row">11</th>
              <td>Lana Del Ray</td>
              <td>Lust For Life</td>
              <td>36</td>
            </tr>      
            <tr>
              <th scope="row">12</th>
              <td>Manic Street Preachers</td>
              <td>You Love Us</td>
              <td>12inch 20</td>
            </tr>      
            <tr>
              <th scope="row">13</th>
              <td>Misty In Roots</td>
              <td>Musi-O-Tunya</td>
              <td>38</td>
            </tr>      
            <tr>
              <th scope="row">14</th>
              <td>Morrison, Van</td>
              <td>It's Too Great</td>
              <td>38</td>
            </tr>      
            <tr>
              <th scope="row">15</th>
              <td>New Order</td>
              <td>Low Life</td>
              <td>23</td>
            </tr>      
            <tr>
              <th scope="row">16</th>
              <td>Nirvana</td>
              <td>Live at Pier 48</td>
              <td>90</td>
            </tr>      
            <tr>
              <th scope="row">17</th>
              <td>Paul Weller</td>
              <td>True Meanings</td>
              <td>32</td>
            </tr>      
            <tr>
              <th scope="row">18</th>
              <td>Pentangle</td>
              <td>Solomon's Seal</td>
              <td>12</td>
            </tr>      
            <tr>
              <th scope="row">19</th>
              <td>Pink Floyd</td>
              <td>Piper At The Gates Of Dawn</td>
              <td>20</td>
            </tr>      
            <tr>
              <th scope="row">20</th>
              <td>Prince</td>
              <td>Dirty Mind</td>
              <td>18</td>
            </tr> 
            <tr>
              <th scope="row">21</th>
              <td>Skatalites</td>
              <td>Meet King Tubby</td>
              <td>28</td>
            </tr>     
            <tr>
              <th scope="row">22</th>
              <td>Suede</td>
              <td>Head Music</td>
              <td>20</td>
            </tr>      
            <tr>
              <th scope="row">23</th>
              <td>Tears For Fears</td>
              <td>Seeds of Love</td>
              <td>30</td>
            </tr>      
            <tr>
              <th scope="row">24</th>
              <td>The Damned</td>
              <td>Grimly Fiendish</td>
              <td>7inch 12</td>
            </tr>      
            <tr>
              <th scope="row">25</th>
              <td>The Fall</td>
              <td>This Nation's</td>
              <td>25</td>
            </tr>      
            <tr>
              <th scope="row">26</th>
              <td>The Human League</td>
              <td>Being Boiled</td>
              <td>21</td>
            </tr>      
            <tr>
              <th scope="row">27</th>
              <td>The Pogues</td>
              <td>The Best of</td>
              <td>18</td>
            </tr>      
            <tr>
              <th scope="row">28</th>
              <td>The Smiths</td>
              <td>The Smiths</td>
              <td>35</td>
            </tr>      
            <tr>
              <th scope="row">29</th>
              <td>The Stone Roses</td>
              <td>Stone Roses</td>
              <td>25</td>
            </tr>      
            <tr>
              <th scope="row">30</th>
              <td>The Who</td>
              <td>My Generation</td>
              <td>77</td>
            </tr>      
             <!-- comment -->     
          </tbody>
        </table>
      </div>
    </section>
    <br>
    <section>
      <h3 id="img-cassettes">Some cassettes!</h3>
      <div class="flex-container">
        <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/plastic-wax-cassettes-sized_orig.jpg">
          <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/plastic-wax-cassettes-sized_orig.jpg" id="pw-cassettes" title="pw-cassettes"
           alt="pw-cassettes">
        </a>
      </div>
    </section>
    <br>
    <section>
     <h4 id="cassettes">CASSETTES</h4>
     <div class="table-responsive">
      <table class="table table-hover table-bordered caption-top">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Artist</th>
            <th scope="col">Title</th>
            <th scope="col">Price(£)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>A Tribe Called Quest</td>
            <td>Midnight Marauders</td>
            <td>80</td>
          </tr> 
          <tr>
            <th scope="row">2</th>
            <td>Cash Money and Marvelous</td>
            <td>Where's The Party At?</td>
            <td>20</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Dr. Dre</td>
            <td>The Chronic</td>
            <td>45</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Elvis Costello</td>
            <td>Get Happy</td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Gregory Isaacs</td>
            <td>Live</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Motorhead</td>
            <td>Whats Words Worth</td>
            <td>20</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Pearl Jam</td>
            <td>No Code</td>
            <td>25</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Pulp</td>
            <td>Babies</td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>The Verve</td>
            <td>Urban Hymns</td>
            <td>15</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>The Who</td>
            <td>Live At Leeds</td>
            <td>10</td>
          </tr>
        </tbody>
      </table>
     </div>
    </section>
    <br>
    <footer>
      <div class="social-networks">
        <ul>
          <li>
            <a href="https://www.facebook.com" title="Facebook" target="_blank" rel="noopener">
              <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" title="Twitter" target="_blank" rel="noopener">
              <i class="fab fa-twitter-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" title="Instagram" target="_blank" rel="noopener">
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- website credit -->
      <div id="websitecredit" aria-hidden="true">
        <p>This website was designed and built by Richard Nowell 2023. </p>
      </div>
      <br>
    </footer>
  
     <!-- end of footer -->
  </main>
{% endblock %}
