{% extends "base.html" %}
{% block content %}
  <main>
    <section>
      <br>
        <div class="flex-container">
           <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/payback-stall-1-sized_orig.jpg">
              <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/payback-stall-1-sized_orig.jpg" id="payback-stall-1-sized" title="payback-stall-1-sized"
               alt="payback-stall-1-sized">
           </a>
        </div>
    </section>
    <br>
    <section>
        <p>
        The debate among audio enthusiasts over analogue vs. digital audio is continual and predictably never-ending. Digital
        music brings detail, loudness and with music files, convenience. (A usb memory stick is a small device that can carry 
        thousands of MP3s and fits in your pocket). Which format out of CDs, MP3s, vinyl or cassettes is 'best' is subjective, 
        yet has it roots on how the sound is recorded and processed. Basically with vinyl and cassettes, the sound is recorded 
        in a continuous sound waveform, whereas in digital formats, the sound is recorded in samples, or 'slices', which the 
        electronics then pieces together to reform the original sound.
        </p>
      <br>
        <p>
        This digital sampling, or slicing, is with cds, done 44,100 times a second, with 16 possible loudness values available 
        per sample. Yes, the sound is chopped up into very small slices, but still chopped up. This is the essential difference 
        between analogue and digital: smooth vs brittle. Think of a record groove. It starts at the beginning of the record and 
        continues until the end. The groove is continuous and for all its faults, sounds smooth and complete. If one were able 
        to look at digital formats, the sound is discrete - chopped up into very small slices, but not continuous.
        </p>
    </section>
    <br>
    <section>
      <div>
        <div class="flex-container">
          <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-singles-upload_orig.jpg">
            <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-singles-upload_orig.jpg" id="rockshop-singles" title="rockshop-singles" alt="rockshop-singles">
          </a>
        </div>
      </div>
    </section>
    <br>
    <section>
        <p>
        The continuity of analogue sounds can be heard on musical sounds such as a cymbal. Cymbals produce many different sounds at once, 
        which a cd or digital format might convey in great detail. Yet a modern, professionally made cassettes gives that cymbal sound a 
        smoothness that a cd can't match. The sound waveform continues as the cymbal rings, whereas a digital format chops up the
        cymbal sound.
        </p>
      <br>
      <p>
      With many people, the difference is minimal and weighed against convenience analogues come second. Also, how the music was 
      recorded in the first place is important. If the original is recorded using a digital format, usually withg high quality 
      computer convertors then transferred to analogue, is this truly analogue?
      </p>
      <br>
      <p>
      When it comes to the choice between digital audio and analog audio, it ultimately boils down to personal 
      preferences and specific requirements. Digital audio offers convenience, accuracy, and compatibility with modern technology, 
      making it the preferred choice for many applications. However, analog audio retains its own unique charm and sonic 
      characteristics that resonate with audiophiles and those seeking a more organic listening experience.
      </p>
    </section>
    <br>
  
    <footer>
      <div class="social-networks">
        <ul>
          <li>
            <a href="https://www.facebook.com" title="Facebook" target="_blank" rel="noopener">
              <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" title="Twitter" target="_blank" rel="noopener">
              <i class="fab fa-twitter-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" title="Instagram" target="_blank" rel="noopener">
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- website credit -->
      <div id="websitecredit" aria-hidden="true">
          <p>This website was designed and built by Richard Nowell 2023. </p>
      </div>
      <br>
    </footer>
    <!-- end of footer -->
  </main>
{% endblock %}