{% extends "base.html" %}
    {% block content %}
        <!-- members profile page -->
        <main>
            <section>
                <br>
                <h1 id="member-profile-1">YOUR PROFILE PAGE</h1>
                <div class="container">
                    <div class="form-control">
                        <p><strong>Your OA account details are below:</strong></p>
                            <!-- details -->
                        <table>
                            <!-- names and emails -->
                            <tr>
                                <td><strong>Name:</td></strong>
                                <td>{{ account['fullname'] }}</td>
                            </tr>
                            <!-- username -->
                            <tr>
                                <td><strong>Username:</strong></td>
                                <td>{{ account['username'] }}</td>
                            </tr>
                            <!-- email -->
                            <tr>
                                <td><strong>Email:</strong></td>
                                <td>{{ account['email'] }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            <!-- end of user details -->
            <!-- logout section -->
            <br>
            <section>
                <h2 id="member-profile-2">LOGOUT HERE</h2>
                <div class="modal-content center-align">
                    <p><strong>LOGOUT TO HOMEPAGE</strong></p>
                </div>
                <br>
                <!-- logout button -->
                <div class="row modal-footer">
                    <button type="button" class="btn btn-warning btn-lg d-grid gap-2 col-4 mx-auto fw-bold fs-4">
                        <a href="{{ url_for('logout') }}">LOGOUT
                        </a>
                    </button>
                </div>
            </section>
            <!-- end of logout section -->
            <br>
            <!-- account deletion section -->
            <section>
                <h3 id="member-profile-3">DELETE YOUR ACCOUNT HERE</h3>
                <div class="modal-content center-align">
                    <p><strong>DELETION OF ACCOUNT IS TERMINAL!</strong></p>
                </div>
                <br>
                <!-- delete button -->
                <div class="row modal-footer">
                    <button type="button" class="btn btn-danger btn-lg d-grid gap-2 col-4 mx-auto fw-bold fs-4">
                        <a href="{{ url_for('delete_profile') }}">DELETE
                        </a>
                    </button>
                </div>
            </section>
            <!-- end of account deletion section -->
            <br>
            <section>
              <!-- start of membership contact jotform -->
                <h4 id="member-profile-4">CONTACT ONLY ANALOG MEMBERS USING THIS FORM</h4>
                <br>
                <div>
                    <iframe id="JotFormIFrame-230943552692360" title="FotForm" onload="window.parent.scrollTo(0,0)" allow="fullscreen" src="https://form.jotform.com/230943552692360"></iframe>
                </div>
            </section>
            <!-- end of membership contact jotform -->
            <br>
            <!-- start of download forms -->
            <section>
                <h5 id="member-profile-5">SAVE SOME DETAILS HERE</h5>
                <br>
                <div class="container">
                    <div class="form-control">
                        <!-- just a download -->
                        <textarea rows='6' cols="30" id='myTextArea'>write something here</textarea>
                        <br>
                        <input value='Download'  id="lIDownload" type='button'>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="form-control">
                        <!-- download as a text file -->
                        <textarea rows="6" cols="30" id="texTareaI">write something here saved as text file</textarea>
                        <br>
                        <button id="buttonDownload">download text file</button>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="form-control">
                        <!-- download as a json file -->
                        <textarea rows="6" cols="30">write something here saved as json file</textarea>
                        <br>
                        <button id="jsonDownload">download json file</button>
                    </div>
                </div>
            </section>
            <br>
            <!-- end of download forms -->
            <!-- scripts for jotform and download -->
            <script src="static/js/jotform-members-only.js"></script>
            <script src="static/js/oa-save-text.js"></script>
        </main>
        <!-- end -->
    {% endblock %}