{% extends "base.html" %}
    {% block content %}
        <!-- profile page -->
        <main>
            <section>
                <br>
                <h1 id="member-profile-1">YOUR PROFILE PAGE</h1>
                <div class="container">
                    <div class="form-control">
                        <p>Your OA account details are below:</p>
                            <!-- details -->
                        <table>
                            <!-- names and emails -->
                            <tr>
                                <td>Name:</td>
                                <td>{{ account['fullname'] }}</td>
                            </tr>
                            <!-- username -->
                            <tr>
                                <td>Username:</td>
                                <td>{{ account['username'] }}</td>
                            </tr>
                            <!-- email -->
                            <tr>
                                <td>Email:</td>
                                <td>{{ account['email'] }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            <!-- end of user details -->
            <br>
            <section>
                <h3 id="member-profile-2">LOGOUT HERE</h3>
                <div class="modal-content center-align">
                    <p><strong>LOGOUT TO HOMEPAGE</strong></p>
                </div>
                <br>
                <!-- logout button -->
                <div class="row modal-footer">
                  <button type="button" class="btn btn-warning btn-lg d-grid gap-2 col-4 mx-auto fw-bold fs-4">
                    <a href="{{ url_for('logout') }}" >
                        LOGOUT
                    </a>
                  </button>
                </div>
            </section>
            <br>
            <!-- account deletion -->
            <section>
              <h3 id="member-profile-3">DELETE YOUR ACCOUNT HERE</h3>
              <div class="modal-content center-align">
                  <p><strong>DELETION OF ACCOUNT IS TERMINAL!</strong></p>
              </div>
              <br>
              <!-- delete button -->
              <div class="row modal-footer">
                <button type="button" class="btn btn-danger btn-lg d-grid gap-2 col-4 mx-auto fw-bold fs-4">
                  <a href="{{ url_for('delete_profile') }}" >
                      DELETE
                  </a>
                </button>
              </div>
            </section>
            <!-- end of account deletion -->
              <br>
            <section>
              <!-- start of membership contact form -->
              <h2 id="member-profile-4">CONTACT ONLY ANALOG USING THIS FORM</h2>
              <br>
              <div>
                <iframe id="JotFormIFrame-230943552692360" title="FotForm" onload="window.parent.scrollTo(0,0)" allow="fullscreen" src="https://form.jotform.com/230943552692360"></iframe>
              </div>
            </section>
            <br>
            <!-- end of membership jotform -->
            <!-- delete confirmation modal -->
            <script src="static/js/jotform-members-only.js"></script>
        </main>
        <!-- end -->
    {% endblock %}