{% extends "base.html" %}
    {% block content %}
        <!-- profile page -->
        <main>
            <section>
                <br>
                <h1 id="member-contact">YOUR PROFILE PAGE</h1>
                <div class="container">
                    <div class="form-control">
                        <p>Your OA account details are below:</p>
                            <!-- details -->
                        <table>
                            <!-- names and emails -->
                            <tr>
                                <td>Name:</td>
                                <td>{{ account['fullname'] }}</td>
                            </tr>
                            <!-- username -->
                            <tr>
                                <td>Username:</td>
                                <td>{{ account['username'] }}</td>
                            </tr>
                            <!-- email -->
                            <tr>
                                <td>Email:</td>
                                <td>{{ account['email'] }}</td>
                            </tr>
                            <!-- delete account -->
                        </table>
                    </div>
                </div>
            </section>
            <!-- end of user details -->
            <!-- start of membership contact form -->
            <section>
              <h2 id="members_h2">CONTACT ONLY ANALOG USING THIS FORM</h2>
              <br>
              <div>
                <iframe id="JotFormIFrame-230943552692360" title="FotForm" onload="window.parent.scrollTo(0,0)" allow="fullscreen" src="https://form.jotform.com/230943552692360"></iframe>
              </div>
            </section>
            <!-- end of membership jotform -->
            <script src="static/js/jotform-members-only.js"></script>
        </main>
        <!-- end -->
    {% endblock %}
