{% extends "base.html" %}
    {% block content %}
        <!-- start of records listings -->
        <main>
            <section>
              <!-- images of records -->
              <h1 id="record-selection">A selection of records</h1>
              <br>
                <div class="flex-container">
                  <a href="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-coloured-records_orig.jpg">
                    <img src="https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/rockshop-coloured-records_orig.jpg" id="rockshop-coloured" title="rockshop-coloured" 
                     alt="rockshop-coloured">
                  </a>
                </div>
            </section>
            <br>
            <section>
              <!-- start of listings -->
              <h2 id="list-records">RECORDS</h2>
              <div class="table-responsive">
                <table class="table table-hover table-bordered caption-top">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price(£)</th>
                      </tr>
                    </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Aswad</td>
                      <td>Babylon</td>
                      <td>7inch 50</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Bob Marley</td>
                      <td>Songs of Freedom</td>
                      <td>93</td>
                    </tr>      
                    <tr>
                      <th scope="row">3</th>
                      <td>David Bowie</td>
                      <td>Hunky Dory</td>
                      <td>29</td>
                    </tr>      
                    <tr>
                      <th scope="row">4</th>
                      <td>Depeche Mode</td>
                      <td>People Are People</td>
                      <td>12inch 17</td>
                    </tr>      
                    <tr>
                      <th scope="row">5</th>
                      <td>Dua Lipa</td>
                      <td>Dua Lipa</td>
                      <td>27</td>
                    </tr>      
                    <tr>
                      <th scope="row">6</th>
                      <td>George Michael</td>
                      <td>Faith</td>
                      <td>30</td>
                    </tr>      
                    <tr>
                      <th scope="row">7</th>
                      <td>Idles</td>
                      <td>Joy As An Act</td>
                      <td>20</td>
                    </tr>      
                    <tr>
                      <th scope="row">8</th>
                      <td>John Martyn</td>
                      <td>Solid Air</td>
                      <td>20</td>
                    </tr>      
                    <tr>
                      <th scope="row">9</th>
                      <td>Kate Bush</td>
                      <td>Live in Bristol</td>
                      <td>95</td>
                    </tr>      
                    <tr>
                      <th scope="row">10</th>
                      <td>Kraftwerk</td>
                      <td>Showroom Dummies</td>
                      <td>18</td>
                    </tr>      
                    <tr>
                      <th scope="row">11</th>
                      <td>Lana Del Ray</td>
                      <td>Lust For Life</td>
                      <td>36</td>
                    </tr>      
                    <tr>
                      <th scope="row">12</th>
                      <td>Manic Street Preachers</td>
                      <td>You Love Us</td>
                      <td>12inch 20</td>
                    </tr>      
                    <tr>
                      <th scope="row">13</th>
                      <td>Misty In Roots</td>
                      <td>Musi-O-Tunya</td>
                      <td>38</td>
                    </tr>      
                    <tr>
                      <th scope="row">14</th>
                      <td>Morrison, Van</td>
                      <td>It's Too Great</td>
                      <td>38</td>
                    </tr>      
                    <tr>
                      <th scope="row">15</th>
                      <td>New Order</td>
                      <td>Low Life</td>
                      <td>23</td>
                    </tr>      
                    <tr>
                      <th scope="row">16</th>
                      <td>Nirvana</td>
                      <td>Live at Pier 48</td>
                      <td>90</td>
                    </tr>      
                    <tr>
                      <th scope="row">17</th>
                      <td>Paul Weller</td>
                      <td>True Meanings</td>
                      <td>32</td>
                    </tr>      
                    <tr>
                      <th scope="row">18</th>
                      <td>Pentangle</td>
                      <td>Solomon's Seal</td>
                      <td>12</td>
                    </tr>      
                    <tr>
                      <th scope="row">19</th>
                      <td>Pink Floyd</td>
                      <td>Piper At The Gates Of Dawn</td>
                      <td>20</td>
                    </tr>      
                    <tr>
                      <th scope="row">20</th>
                      <td>Prince</td>
                      <td>Dirty Mind</td>
                      <td>18</td>
                    </tr> 
                    <tr>
                      <th scope="row">21</th>
                      <td>Skatalites</td>
                      <td>Meet King Tubby</td>
                      <td>28</td>
                    </tr>     
                    <tr>
                      <th scope="row">22</th>
                      <td>Suede</td>
                      <td>Head Music</td>
                      <td>20</td>
                    </tr>      
                    <tr>
                      <th scope="row">23</th>
                      <td>Tears For Fears</td>
                      <td>Seeds of Love</td>
                      <td>30</td>
                    </tr>      
                    <tr>
                      <th scope="row">24</th>
                      <td>The Damned</td>
                      <td>Grimly Fiendish</td>
                      <td>7inch 12</td>
                    </tr>      
                    <tr>
                      <th scope="row">25</th>
                      <td>The Fall</td>
                      <td>This Nation's</td>
                      <td>25</td>
                    </tr>      
                    <tr>
                      <th scope="row">26</th>
                      <td>The Human League</td>
                      <td>Being Boiled</td>
                      <td>21</td>
                    </tr>      
                    <tr>
                      <th scope="row">27</th>
                      <td>The Pogues</td>
                      <td>The Best of</td>
                      <td>18</td>
                    </tr>      
                    <tr>
                      <th scope="row">28</th>
                      <td>The Smiths</td>
                      <td>The Smiths</td>
                      <td>35</td>
                    </tr>      
                    <tr>
                      <th scope="row">29</th>
                      <td>The Stone Roses</td>
                      <td>Stone Roses</td>
                      <td>25</td>
                    </tr>      
                    <tr>
                      <th scope="row">30</th>
                      <td>The Who</td>
                      <td>My Generation</td>
                      <td>77</td>
                    </tr>      
                    <!-- comment -->     
                  </tbody>
                </table>
              </div>
            </section>
            <br>
            <section>
                <!-- pricings section -->
                <div>
                  <h3 id="pricings">Pricings</h3>
                  <p>
                  Many of our records and cassettes are reasonably priced and kept up-to-date
                  with bigger enterprises available online. OA do keep rarer products for sale,
                  which are available to reserve using our free members database. Some are
                  expensive but reflect the current market; records are collectables but also still
                  used by professionals.
                  </p>
               </div>
            </section>
        </main>
        <!-- end of records listings page -->
    {% endblock %}